* {
    max-width: 700px;
    margin: auto;
    font-family: calibri;
  }
  
  div {
    border-radius: 5px;
  }
  .container{
    background: #ccc;
  }
  
  #header {
    height: 40px;
    width: 100%;
    background-color: #dc3435;
    position: relative;
    z-index: 1;
  }
  
  #title {
    margin-left: 3%;
  }
  
  #footer {
    height: 50px;
    width: 100%;
    background-color: #dc3435;
    color: white;
    clear: both;
    position: relative;
  }
  
   
  .stuff {
    display: block;
    padding: 55px;
    margin: 50px auto;
    width: 75%;
    height: 1000px;
    background: #fff;
  }
  
  .person{
    margin-top: 20px;
  }

  p,
  li {
    font-family: 'Cormorant Garamond';
  }
  
  .head {
    font-size: 20px;
    margin: 10px 0;
    border-bottom: solid 1px #ccc;
  }
  
  #name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
    
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }
